node_modules
.env
.prettierrc
.vscode
.idea

#TypeScript Compiled Files
app/routes/**/*.js
app/routes/**/*.map
database/**/*.js
database/**/*.map
app/services/**/*.js
app/services/**/*.map
app/presenters/**/*.js
app/presenters/**/*.map
app/helpers/**/*.js
app/helpers/**/*.map
/tmp
public/uploads/
