<div class="login-register-wrap">
  <div class="row">

    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
      <div class="login-register-form-wrap">

        <div class="content">
          <h1>ورود</h1>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</p>
        </div>

        {{#if errors}}
          <div class='alert alert-solid-danger' role='alert'>
            <ul>
              {{#each errors}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if success}}
          <div class='alert alert-solid-success' role='alert'>
            <ul>
              <li>{{success}}</li>
            </ul>
          </div>
        {{/if}}

        <div class="login-register-form">
          <form action="login" method='POST'>
            <div class="row">
              <div class="col-12 mb-20"><input class="form-control" name="email" type="email" placeholder="ایمیل"></div>
              <div class="col-12 mb-20"><input class="form-control" name="password" type="password"
                                               placeholder="رمز عبور"></div>
              <div class="col-12 mb-20"><label for="remember" class="adomx-checkbox-2"><input id="remember"
                                                                                              name='remember_me'
                                                                                              type="checkbox"><i
                class="icon"></i>مرا به خاطر داشته باش.</label></div>
              <div class="col-12">
                <div class="row justify-content-between">
                  <div class="col-auto mb-15"><a href="#">فراموشی رمز عبور؟</a></div>
                  <div class="col-auto mb-15">آیا حساب کاربری ندارید؟ <a href="register">هم اکنون ایجاد کنید.</a>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-10">
                <button class="button button-primary button-outline">ورود</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
      <div class="content">
        <h1>ورود</h1>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</p>
      </div>
    </div>

  </div>
</div>
