<div class="login-register-wrap">
  <div class="row">

    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
      <div class="login-register-form-wrap">

        <div class="content">
          <h1>ثبت نام</h1>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</p>
        </div>

        <div class="login-register-form">
          <form action="register" method='POST'>
            <div class="row">

              <div class="col-12 mb-20"><input class="form-control" name='email' type="text" placeholder="ایمیل"></div>
              <div class="col-12 mb-20"><input class="form-control" name="password" type="password" placeholder="رمز عبور"></div>
              <div class="col-12 mb-20"><input class="form-control" name="confirm_password" type="password" placeholder="تایید رمز عبور"></div>
              <div class="col-12">
                <div class="row justify-content-between">
                  <div class="col-auto mb-15">در حال حاضر حساب کاربری دارید؟ <a href="login">هم اکنون وارد
                    شوید.</a></div>
                </div>
              </div>
              <div class="col-12 mt-10">
                <button class="button button-primary button-outline">ثبت نام</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
      <div class="content">
        <h1>ثبت نام</h1>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</p>
      </div>
    </div>

  </div>
</div>
