<div class="blog-post">
  <a href="#"><img class="rounded mb-lg-5 mb-4" src="/static/assets/img/blog/b1.jpg" alt="card image" /></a>
  <h3 class=""><a href="#">کلید آلیشیا در سفرهای طولانی زندگی در مصر است</a></h3>
  <div class="meta font-lora my-4">
    <a href="#">سفر کردن</a>
    <span class="meta-separator"></span>
    <a href="#">1398 فروردین</a>
  </div>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
</div>
<div class="blog-post">
  <a href="#"><img class="rounded mb-lg-5 mb-4" src="/static/assets/img/blog/b2.jpg" alt="card image" /></a>
  <h3 class=""><a href="#">کلید آلیشیا در سفرهای طولانی زندگی در مصر است</a></h3>
  <div class="meta font-lora my-4">
    <a href="#">سفر کردن</a>
    <span class="meta-separator"></span>
    <a href="#">1398 فروردین</a>
  </div>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
</div>
<div class="blog-post">
  <div class="position-relative mb-lg-5 mb-4">
    <img class="rounded" src="/static/assets/img/blog/b3.jpg" alt="">
    <div class="video-btn video-play-btn-align-center">
      <a href="https://www.youtube.com/watch?v=kuceVNBTJio" class="video-play-icon popup-youtube v-Center">
        <i class="fa fa-play"></i>
      </a>
    </div>
  </div>
  <h3 class=""><a href="#">کلید آلیشیا در سفرهای طولانی زندگی در مصر است</a></h3>
  <div class="meta font-lora my-4">
    <a href="#">سفر کردن</a>
    <span class="meta-separator"></span>
    <a href="#">1398 فروردین</a>
  </div>
  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
</div>
<!--pagination-->
<div class="pagination justify-content-center">
  <a href="#" class="btn btn-dark disabled"><i class="fa fa-angle-left"></i></a>
  <div class="h6 mt-2 mx-4">
    1 از 17
  </div>
  <a href="#" class="btn btn-dark"><i class="fa fa-angle-right"></i></a>
</div>
