<footer class="app-footer bg-dark pb-0 border-0 text-md-left text-center">
  <div class="container">
    <div class="row align-items-center mb-md-5 mb-3">
      <div class="col-md-4">
        <img class="pr-3 mb-md-0 mb-4" src="assets/img/logo-color.png" srcset="assets/img/logo-color@2x.png 2x" alt="">
      </div>
      <div class="col-md-8">
        <span class="font-lora h5 font-weight-normal">- یک بسته ساز قدرتمند خلاق برای بوت استرپ 4</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-md-0 mb-4">
        <p class="text-muted">یک مجموعه بزرگ و قدرتمند از بسته بندی جزء مدرن برای ساختن وب سایت بهتر برای پروژه بعدی
          شما</p>
      </div>
      <div class="col-md-2 mb-md-0 mb-4">
        <h6 class="mb-4">شرکت</h6>
        <ul class="footer-link">
          <li class="d-block"><a href="#">درباره شرکت</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="app-secondary-footer mt-md-5 mt-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <span class="copyright">© 2021 کلاب تمام حقوق محفوظ است.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
