<header class="app-header transparent-header transparent-header-dark-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!--<div class="branding-wrap">-->
        <!--brand start-->
        <div class="navbar-brand float-left">
          <a class="" href="index-2.html">
            <img class="logo-light" src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x" alt="CLab">
            <img class="logo-dark" src="assets/img/logo-dark.png" srcset="assets/img/logo-dark@2x.png 2x" alt="CLab">
          </a>
        </div>
        <!--brand end-->
        <!--start responsive nav toggle button-->
        <div class="nav-btn hamburger hamburger--slider js-hamburger ">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        <!--end responsive nav toggle button-->
        <!--</div>-->

        <!--top mega menu start-->
        <nav id="vl-menu">
          <!--start nav-->
          <ul class="vlmenu light-sub-menu slide-effect float-right">
            <li><a href="#"> صفحات <i class="fa fa-angle-down"></i></a>
              <!--start level 2-->
              <ul>
                <li>
                  <a href="page-landing.html" class="d-flex">
                    <i class="vl-pop-corn font-size-20"></i>
                    <div class="font-weight-700"> صفحات فرود</div>
                  </a>
                </li>
                <li>
                  <a href="page-inner.html" class="d-flex">
                    <i class="vl-layer font-size-20"></i>
                    <div class="font-weight-700">صفحات داخلی</div>
                  </a>
                </li>
                <li>
                  <a href="page-utility.html" class="d-flex">
                    <i class="vl-gear font-size-20"></i>
                    <div class="font-weight-700">صفحات سودمند</div>
                  </a>
                </li>
              </ul>
              <!--end level 2-->
            </li>
            <li><a href="#">بلاگ <i class="fa fa-angle-down"></i></a>
              <!--start level 2-->
              <ul>
                <li><a href="#">پوسته وبلاگ</a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="blog-standard.html">استاندارد وبلاگ</a></li>
                    <li><a href="blog-standard-left.html">بلاگ استاندارد چپ</a></li>
                    <li><a href="blog-standard-right.html">بلاگ استاندارد راست</a></li>
                    <li><a href="blog-list.html">لیست بلاگ</a></li>
                    <li><a href="blog-cards.html">کارت های وبلاگ</a></li>
                    <li><a href="blog-cards-masonry.html">وبلاگ کارت های مختلف</a></li>
                  </ul>
                  <!--end level 3-->
                </li>
                <li><a href="#">پست تک </a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="blog-single.html">پست استاندارد تک</a></li>
                    <li><a href="blog-single-audio.html">پست صوتی تک</a></li>
                    <li><a href="blog-single-video.html">پست ویدیو تک</a></li>
                    <li><a href="blog-single-gallery.html">پست گالری تک</a></li>
                  </ul>
                  <!--end level 3-->
                </li>
              </ul>
              <!--end level 2-->
            </li>
            <li class="menu-right"><a href="#">نمونه کار <i class="fa fa-angle-down"></i></a>
              <!--start level 2-->
              <ul>
                <li><a href="#">شبکه</a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="portfolio-grid-2.html">ستون دو</a></li>
                    <li><a href="portfolio-grid-3.html">ستون سه</a></li>
                    <li><a href="portfolio-grid-4.html">ستون چهار</a></li>
                  </ul>
                  <!--end level 3-->
                </li>
                <li><a href="#">شبکه کامل عرض</a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="portfolio-grid-2-fullwidth.html">ستون 2</a></li>
                    <li><a href="portfolio-grid-3-fullwidth.html">ستون سه</a></li>
                    <li><a href="portfolio-grid-4-fullwidth.html">ستون چهار</a></li>
                  </ul>
                  <!--end level 3-->
                </li>
                <li><a href="#">عنوان شبکه</a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="portfolio-grid-title-2.html">ستون دو</a></li>
                    <li><a href="portfolio-grid-title-3.html">ستون سه</a></li>
                    <li><a href="portfolio-grid-title-4.html">ستون چهار</a></li>
                  </ul>
                  <!--end level 3-->
                </li>
                <li><a href="#">ساختمانی</a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="portfolio-masonry-2.html">ستون دو</a></li>
                    <li><a href="portfolio-masonry-3.html">ستون سه</a></li>
                    <li><a href="portfolio-masonry-4.html">ستون چهار</a></li>
                  </ul>
                  <!--end level 3-->
                </li>
                <li><a href="#">مصالح ساختمانی عرض کامل</a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="portfolio-masonry-2-fullwidth.html">ستون دو</a></li>
                    <li><a href="portfolio-masonry-3-fullwidth.html">ستون سه</a></li>
                    <li><a href="portfolio-masonry-4-fullwidth.html">ستون چهار</a></li>
                  </ul>
                  <!--end level 3-->
                </li>
                <li><a href="#">عنوان ساختمان</a>
                  <!--start level 3-->
                  <ul>
                    <li><a href="portfolio-masonry-title-2.html">ستون دو</a></li>
                    <li><a href="portfolio-masonry-title-3.html">ستون سه</a></li>
                    <li><a href="portfolio-masonry-title-4.html">ستون چهار</a></li>
                  </ul>
                  <!--end level 3-->
                </li>

                <li><a href="portfolio-single.html">تک پروژه</a></li>

              </ul>
              <!--end level 2-->
            </li>
</header>
